{:paths ["src" "resources" "test" "test-resources"]
 :tasks
 {docco {:doc "Regenerate docco.html from source comments and curated notes"
         :task (load-file "tasks/docco.clj")}
  test {:doc "Run the test suite under babashka"
        :requires ([clojure.test]
                   [green.advice-test]
                   [green.workflow-test]
                   [green.scaffold-test]
                   [green.cli-test]
                   [green.dry-run-test]
                   [green.progress-test]
                   [green.tofu-test]
                   [green.ansible-test]
                   [green.zookeeper-test])
        :task (let [{:keys [fail error]}
                    (clojure.test/run-tests 'green.advice-test
                                            'green.workflow-test
                                            'green.scaffold-test
                                            'green.cli-test
                                            'green.dry-run-test
                                            'green.progress-test
                                            'green.tofu-test
                                            'green.ansible-test
                                            'green.zookeeper-test)]
                (when (pos? (+ fail error))
                  (System/exit 1)))}}}
